@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* * {
    box-sizing: border-box;
  } */
body{

    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    background-color: #efe9e967;
   
    /* grid-template-columns: auto 150px auto 150px; */
   
}
#container{
    text-align: center;
    justify-content: center;
    align-items: center;
    
}
.menu{
    
    text-align: center;
    justify-content: center;
    align-items: center;
}
.basket{
    margin-left: 500px;
    vertical-align: middle;
}
.logo{
    text-align: left;
    vertical-align: middle;
    
}
.first-section{
    background-color: #F7DE1F;
    position: absolute;
    
    padding-left: 100px;
    padding-right: 80px;
    padding-bottom:100px ;
    right: 0%;
    left: 0%;
}
.first-section h2{
    text-align: center;
    padding-top: 60px;
}
.first-section p{
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}
.first-section input{
    font-family:'Rubik', sans-serif;
    text-align: right;
    align-items: right;
    margin-top: 20px;
    border: none;
    
    border-radius: 3px;
    background: none;
    margin-left: 100px;
    outline: none;
    width: 250px;
    background-image: url('icons8-search-24.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-color: white;

    background-position: 10px 10px; 
   ;padding: 10px 0px 17px 300px;
    padding: 15px 30px 12px 200px;
    margin-right: 100px;
    border: 0.25px solid #c3bfbf;
  }
  .first-section:hover{
    cursor:url(icons8-js-48.png) ,auto;
    transition: 1004s;
    background: url(output-onlinegiftools.gif);
    background-repeat:repeat-x;
    transition: 1004s;
  }
/* .search-input img{
    width: 26px;
    vertical-align: middle;
}*/
/* .search-input{
    background-color: aliceblue;
    vertical-align: middle;
    padding: 10px 0px 17px 10px;
    border-radius: 3px;
    border: 0.25px solid #c3bfbf;
    
}  */
.second-section{
    margin-top: 300px;
    /* margin: 0;
height: 10vh;
display: grid;

place-items: center;
    margin-top: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(60deg,#F7DE1F,#f71f1f);
    position: absolute;
    right: 0%;
    left: 0%; */
    background: linear-gradient(60deg,#F7DE1F,#f71f1f);
    color:#fff;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    align-items: center;
    justify-content: center;
   }

.clock-text p{
  /* text-align: center;
  margin-left: 500px;
  font-size: 12px;
  margin-top: 50px;*/
  color: #ffffff; 
 font-size: 12px;
 float: right;
 margin-right:-450px ;
 margin-top: 50px;
}
.clock-logo img{
    /* width: 40px;
    height: 40px;
    
    text-align: center;
    
    margin-top: -270px;
    margin-bottom: 30px;
    margin-right: -270px; */
    margin-top: 50px;
    width: 40px;
    height: 40px;
    margin-right:-600px ;
}
.dart-text p{
    /* text-align: center;
    font-size: 12px;
    margin-top: -70px;
    margin-bottom: 30px;
    color: #fff; */
    font-size: 12px;
    margin-left: 80px;
    margin-top: 40px;
}
.second-section:hover{
    background: url(tumblr_10dfd11d1ff1583583b3ec08efb96ef7_d529e39b_1280.gif);
    background-repeat:repeat-x;
    transition: 1004s;
}
.dart-logo img{
    /* text-align: center;
    float: center;
    width: 40px;
    height: 40px;
    /* margin-top: -190px;
    margin-bottom: 40px;
    margin-right: 200px; */
    margin-left: -400px; 
    width: 40px;
    height: 40px;
    margin-top: 40px;
}
.lamp-text p{
    /* text-align: left;
    font-size: 12px;
    float: left; */
   /* margin-left: 440px;
    margin-top:-55px; */
    /* color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center; */
    float: left;
    margin-left: -400px;
    margin-top: 50px;
    font-size: 12px;
    
}
.lamp-logo img{
    /* float: left; */
    /* margin-top: -60px;
   margin-left: 100px; */
   margin-top: -50px;
   margin-bottom: 30px;  
   margin-left: -380px;

}
.last-section{

    display: grid;
    place-items: center;
}
.last-section h1{
    margin-top: 100px;
}
.first-banner{
    height: 200px;
    overflow: hidden;
    border-radius: 16px;
}
.first-banner img{
    /* margin: 0;
    height: 100vh;
    display: grid;
    place-items: center; */
    margin-top: -100px;
    margin-left: -300px;
    border-radius: 2px 2px;
  object-fit: cover;
  transition: transform 0.8s;
 height: 100%;
}
.first-banner:hover img{
    transform: scaleX(-1);
    filter: grayscale(0.8);
    border-radius: 6px;
    transition: 0.3s;

}
.first-banner img:after:hover{
    transform: scale3d(-1) rotate(2deg);
}
.decription{
    border: 1px solid #ccc;
    background: #fff;
    margin-left: 100px;
    margin-right: 400px;
    text-align: right;
    padding-right:40px ;
    margin-top: -170px;
    padding-left: 110px;
    padding-bottom: 20px;
}
/* .javascript-course { */

/*   
   text-align: center;
   justify-content: center;
   align-items: center; 
   margin-right: 300px;
   
   border: 1px solid #ccc;
   padding: -1000px -10px -10px -10px ;
   
   text-align: center; */
/* }

.javascript-course h3{
    text-align: center;
     margin-right: 700px;
    padding-top: -300px;
   margin-left: 220px; 
} */

/* .description h3 p{
    background:#fff ;
    padding: 10px -100px 10px 100px ;
} */
/* .javascript-course p{
  margin-right:500px ;
  font-size: 13px;
  font-weight: 500;
}
.first-banner img{
    margin-top: -90px;
    margin-bottom: -130px;
}
.rates{
    margin-right:500px ;
    text-align: left;
}*/
.shopping-btn{
    background: #1eded8;
    border: none;
    font-family: 'Rubik', sans-serif ;
    color: #fff;
    padding: 10px 80px 10px 80px;
    border-radius: 2px;
    text-align: left;
    margin-left: -640px;
    margin-right: -20px;
    margin-top: 10px;
}
/* .shopping-btn:hover{
    background-color: #21c43c9e;
    background: url(icons8-shopping-basket-48.png);
    background-repeat:no-repeat ;
    background-color: #21c43c9e;
    transition: 0.5s;
} */
/*.amalgar-course{
    text-align: right;
}
.banner2 img{
    text-align: right;
    justify-content: right;
    align-items: right;
    margin-left: 30px;
    margin-top: -600px;
    margin-bottom: 200px;
}
*/
.amalgar-course{
    margin-right: -600px;
    margin-top: -450px;
}
.javascript-course{
    margin-right: 80px;
}
.arreys-course{
    margin-right: 80px;
}
.functions-course{
    margin-right: -600px;
    margin-top: -450px;
}
.shopping-btn1{
    background: #1eded8;
    border: none;
    font-family: 'Rubik', sans-serif ;
    color: #fff;
    padding: 10px 80px 10px 80px;
    border-radius: 2px;
    text-align: left;
    margin-left: -640px;
    margin-right: -20px;
    margin-top: 10px;
}
.shopping-btn2{
    background: #1eded8;
    border: none;
    font-family: 'Rubik', sans-serif ;
    color: #fff;
    padding: 10px 80px 10px 80px;
    border-radius: 2px;
    text-align: left;
    margin-left: -640px;
    margin-right: -20px;
    margin-top: 10px;
}
.shopping-btn3{
    background: #1eded8;
    border: none;
    font-family: 'Rubik', sans-serif ;
    color: #fff;
    padding: 10px 80px 10px 80px;
    border-radius: 2px;
    text-align: left;
    margin-left: -640px;
    margin-right: -20px;
    margin-top: 10px;
}
/* .shopping-btn1:hover{
    background-color: #21c43c9e;
    background: url(icons8-shopping-basket-48.png);
    background-repeat:no-repeat ;
    background-color: #21c43c9e;
    transition: 0.1s;
}
.shopping-btn2:hover{
    background-color: #21c43c9e;
    background: url(icons8-shopping-basket-48.png);
    background-repeat:no-repeat ;
    background-color: #21c43c9e;
    transition: 0.9s;
} */
/* .shopping-btn3:hover{
    background-color: #21c43c9e;
    background: url(icons8-shopping-basket-48.png);
    background-repeat:no-repeat ;
    background-color: #21c43c9e;
    transition: 1s;
} */
.banner3 img{
    /* margin: 0;
    height: 100vh;
    display: grid;
    place-items: center; */
    
    margin-top: -100px;
    margin-left: -300px;
    border-radius: 2px 2px;
  object-fit: cover;
  transition: transform 0.8s;
 height: 100%;
}
/* .banner3:hover img{
  transform: scaleX(-1);
    filter: grayscale(0.8);
    border-radius: 6px;
    transition: 3s;
} */
.banner4 img{
    /* margin: 0;
    height: 100vh;
    display: grid;
    place-items: center; */
    position: relative;
    display: inline-block;
    margin-top: -100px;
    margin-left: -300px;
    border-radius: 2px 2px;
  object-fit: cover;
  transition: transform 0.8s;
 height: 100%;
}
/* .banner4:hover img{
  transform: scaleX(-1);
    filter: grayscale(0.8);
    border-radius: 6px;
    transition: 3s;
} */
.banner2 img{
    /* margin: 0;
    height: 100vh;
    display: grid;
    place-items: center; */
    display: block;
    margin-top: -100px;
    margin-left: -300px;
    border-radius: 2px 2px;
  object-fit: cover;
  transition: transform 0.8s;
 height: 100%;
}
/* .banner2:hover img{
  transform: scaleX(-1);
    filter: grayscale(0.8);
    border-radius: 6px;
    transition: 3s;
} */
.first-links{
    margin-top: 100px;
    text-align: right;
    margin-right: -500px;
    margin-left: -300px;
    font-size: 12px;
}
footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.last-links{
    margin-top: 100px;
    text-align: right;
    margin-left: -600px;
    font-size: 12px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-left: 330px;
    border-radius: 20px 0px 20px 20px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
   
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }